<!-- IEA :: IzotovEA :: change:: conect {static} -->
{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
  <head>    
    <!--templates.base.html-->
  </head>
  <body>
    <header>
      <!--templates.includes.header.html-->
    </header>
    <main>      
      {% block content %}
      {% for post in posts %}
      <article>
        <ul>
          <li>Автор: {{post.author.get_full_name }}>{{ post.author.get_full_name }}</li>
          <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
          <li>Текст: {{post.text}}</li>
          <p>{{ post.text }}</p>
        </ul>
      
      </article>
      {% if not forloop.last %}
          <hr>
      {% endif %}
      {% endfor %}
      {% endblock %}
        <!-- под последним постом нет линии -->
      </div>  
    </main>
    <footer class="page-footer font-small blue border-top">
      <div class="footer-copyright text-center py-3">© 2020 Copyright 
        <p><span style="color:red">Ya</span>tube</p> 
      </div>    
    </footer>
  </body>